# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
media/kyc_documents/*
!media/kyc_documents/.gitkeep

# Node
node_modules/
dist/
.eslintcache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
